$bg-img-kanban: url("../assets/bg_kanban.jpg");

$clr-black: #000000;
$clr-white: #f5f5f5;
$clr-green: #30c580;
$clr-grey: #808080;
$clr-text: #3d3d3d;

$clr-secondary: #ab846c;
$clr-tertiary: #f1d3bb;
$clr-quaternary: #bba393;
$clr-test2: #d8c3b5;
$clr-test3: #a64d2c;

$transition-default: all 300ms ease-in-out;
$box-shadow:
  rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
  rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

$clr-test: rgba(176, 188, 167, 0.706);

// faf0e6
// f1d3bb
