$clr-black: #000000;
$clr-white: #f5f5f5;
$clr-grey: #808080;

$clr-secondary: #d2cdcd;
$clr-tertiary: hsl(94, 14%, 70%);

$transition-default: all 300ms ease-in-out;

$clr-test: rgba(176, 188, 167, 0.706);
