@import "variables";
.container-edit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  color: $clr-white;
  height: 90%;
  @media (max-width: 390px) {
    flex-direction: column;
    align-items: center;
  }

  .input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 10px 10px;
    @media (max-width: 390px) {
      flex-direction: column;
      align-items: center;
    }

    label {
      font-weight: 500;
      font-size: 1rem;
      color: $clr-black;
      margin-top: 0.5rem;
      width: 30%;
      @media (max-width: 390px) {
        margin-top: 0.3rem;
        width: 90%;
      }
    }

    .input-important {
      width: 170%;
      @media (max-width: 390px) {
        width: 90%;
      }
    }
    .saveButton {
      width: 30%;
      @media (max-width: 390px) {
        width: 80%;
      }
    }

    input,
    select,
    textarea {
      color: $clr-black;
      margin-top: 0.5rem;
      background-color: $clr-quaternary;
      outline: none;
      border: 1px solid $clr-white;
      border-radius: 8px;
      font-size: 1rem;
      font-weight: 300;
      padding: 8px;
      width: 100%;
      resize: none;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      @media (max-width: 390px) {
        width: 90%;
      }
    }
  }
  .saveButton {
    align-self: end;
    justify-self: end;
    margin-right: 3rem;
    margin-bottom: 4rem;
    background: $clr-secondary;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    @media (max-width: 390px) {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      width: 90%;
      font-size: 1.2rem;
    }
  }
}
