@import "variables";

.events-content {
  width: 100%;
  height: 100vh;

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0;
  }
  .event-btn {
    position: relative;
    left: 6rem;
    top: 2rem;
    width: 12.5rem;
    height: 3rem;
    border: 1px solid $clr-quaternary;
    border-radius: 0.7rem;
    color: $clr-quaternary;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2rem;
    box-shadow: $box-shadow;
    cursor: pointer;
    &:hover {
      background-color: $clr-quaternary;
      color: $clr-white;
    }
  }

  .events-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-evenly;
    margin-top: 5rem;

    .event-card {
      position: relative;
      background-color: $clr-white;
      width: 550px;
      height: 200px;
      display: flex;
      align-items: center;
      border: 1px solid $clr-quaternary;
      border-radius: 1.2rem;
      box-shadow:
        $clr-quaternary 0px 10px 15px -5px,
        $clr-quaternary 0px 10px 5px -5px;

      img {
        width: 100px;
        height: 100px;
        margin: 0 4rem 0 2rem;
        border-radius: 50%;
      }

      .event-info {
        display: flex;
        flex-direction: column;
        font-size: 1em;
        h4 {
          font-size: 1.5em;
          margin-bottom: 1rem;
        }
        p {
          margin: 0 0 1rem 0;
        }
      }
      .edit-icon {
        position: absolute;
        font-size: 2rem;
        top: 10px;
        right: 55px;
        cursor: pointer;
      }
      .delete-icon {
        position: absolute;
        font-size: 1.7rem;
        top: 12px;
        right: 20px;
        cursor: pointer;
      }
    }
  }
  @media (max-width: 770px) {
    .events-main {
      .event-card {
        width: 350px; // Réduire la largeur de la carte
        height: 150px; // Réduire la hauteur de la carte

        img {
          width: 70px; // Réduire la largeur du logo
          height: 70px; // Réduire la hauteur du logo
          margin: 0 2rem 0 2rem;
        }

        .event-info {
          h4 {
            font-size: 1.2em; // Réduire la taille de la police du titre
          }
          p {
            font-size: 0.8em; // Réduire la taille de la police du paragraphe
          }
        }
      }
    }
  }
  @media (max-width: 390px) {
    .events-main {
      .event-card {
        width: 350px; // Réduire la largeur de la carte
        height: 150px; // Réduire la hauteur de la carte

        img {
          width: 70px; // Réduire la largeur du logo
          height: 70px; // Réduire la hauteur du logo
          margin: 0 2rem 0 2rem;
        }

        .event-info {
          h4 {
            font-size: 1.2em; // Réduire la taille de la police du titre
          }
          p {
            font-size: 0.8em; // Réduire la taille de la police du paragraphe
          }
        }
      }
    }
  }
}
