@import "variables";

.events-content {
  width: 100%;
  height: 100vh;

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    margin-bottom: 5rem;
  }
  .event-btn {
    position: relative;
    bottom: 3rem;
    left: 3rem;
    width: 12.5rem;
    height: 3rem;
    border: 1px solid $clr-tertiary;
    border-radius: 0.7rem;
    color: $clr-tertiary;
    font-size: 0.5em;
    font-weight: 600;
    margin-bottom: 2rem;
    cursor: pointer;
    &:hover {
      background-color: $clr-tertiary;
      color: $clr-white;
    }
  }

  .events-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-evenly;

    .event-card {
      position: relative;
      width: 550px;
      height: 200px;
      display: flex;
      align-items: center;
      border: 1px solid #ccc;
      border-radius: 1.2rem;
      box-shadow:
        $clr-tertiary 0px 20px 25px -5px,
        $clr-tertiary 0px 10px 10px -5px;

      img {
        width: 100px;
        height: 100px;
        margin: 0 4rem 0 2rem;
      }

      .event-info {
        display: flex;
        flex-direction: column;
        font-size: 0.5em;
        h4 {
          font-size: 1.5em;
        }
        p {
          margin: 0 0 1rem 0;
        }
      }
      .edit-icon {
        position: absolute;
        top: 10px;
        right: 60px;
        cursor: pointer;
      }
      .delete-icon {
        position: absolute;
        font-size: 1.7rem;
        top: 12px;
        right: 20px;
        cursor: pointer;
      }
    }
  }
}
