@import "variables";

.events-content {
  width: 100%;
  height: 100vh;

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0;
  }
  .event-btn {
    position: relative;
    left: 6rem;
    top: 2rem;
    width: 12.5rem;
    height: 3rem;
    border: 1px solid $clr-quaternary;
    border-radius: 0.7rem;
    color: $clr-quaternary;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2rem;
    box-shadow: $box-shadow;
    cursor: pointer;
    &:hover {
      background-color: $clr-quaternary;
      color: $clr-white;
    }
  }

  .events-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 5rem;
    padding-left: 12rem;
    @media (max-width: 390px) {
      padding-left: 0;
      justify-content: center;
    }

    .event-card {
      position: relative;
      background-color: $clr-white;
      width: 350px;
      height: 150px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid $clr-quaternary;
      border-radius: 1.2rem;
      box-shadow:
        $clr-quaternary 0px 10px 15px -5px,
        $clr-quaternary 0px 10px 5px -5px;

      img {
        width: 70px; // Réduire la largeur du logo
        height: 70px; // Réduire la hauteur du logo
        margin: 0 1rem 0 1rem;
        border-radius: 50%;
      }

      .event-info {
        display: flex;
        flex-direction: column;
        font-size: 1em;
        margin-left: -5rem;
        h4 {
          font-size: 1.2em;
          margin-bottom: 1rem;
        }
        p {
          font-size: 0.8rem;
          margin: 0 0 1rem 0;
        }
      }
      .icons-cards {
        display: flex;
        align-content: center;
        align-self: flex-start;
        padding: 5px;
        .edit-icon {
          font-size: 2rem;
          cursor: pointer;
        }
        .delete-icon {
          font-size: 1.7rem;
          margin-top: 0.1rem;
          cursor: pointer;
        }
      }
    }
  }
}
