@import "variables.scss";

.modal-delete {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: -0.4%;
  left: -0.4%;
  width: 350px;
  height: 150px;
  border-radius: 1.2rem;
  border: 2px solid $clr-secondary;
  background-color: rgba($color: $clr-quaternary, $alpha: 0.88);
  padding: 0.3rem;
  color: $clr-text;

  .h2 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  p {
    font-style: italic;
    color: red;
    font-size: 1rem;
    margin: 0;
  }

  .btn-modaldelete {
    display: flex;
    width: 50%;
    justify-content: space-between;
    button {
      width: 60px;
      height: 30px;
      border-radius: 5px;
      font-size: 1rem;
      font-weight: bold;
      color: $clr-white;
      background-color: transparent;
      border: 1px solid $clr-white;
      cursor: pointer;

      &:hover {
        background-color: $clr-text;
        color: $clr-white;
      }
    }
  }
}
